# Virtual environments
.venv/
env/
venv/

#
*.xml
*.egg-info
data

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS files
.DS_Store

# Environment variables
.env
